// .Message {
//   display: block;
//   background-color: white;
//   margin: 10px auto;
//   box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
//   padding: 10px 20px;
//   border-radius: 5px;
//   clear: both;

//   &.me {
//     color: white;
//     float: right;
//     background-color: #328ec4;
//   }
// }

.Message {
  text-align: left;
  margin: 5px;
  margin-left: 15px;
}

span {
  margin-right: 8px;
}

.timeStamp {
  font-size: 11px;
  color: #6C6F77;
}

.userName {
  font-size: 18px;
  color: #1ABC9C;
}

.messageBody {
  font-size: 16px;
  color: #D7D5D9;
}