.UserList {
  width: 100%;
  // margin-left: calc(((100vw - 800px) / 3));
  margin-top: -15px;
  text-align: center;
  color: #6C6F77;
}

.user-list {
  margin-right: 940px;
  display: inline-block; 
  text-align: left;
  width: 50px;
}

.user {
  margin: 0px;
}