.UserList {
  padding-left: 10px;
  color: #6C6F77;
}

.user-list {
  margin-right: 1080px;
  margin-top: 20px;
  display: inline-block; 
  text-align: left;
}

.usersLabel {
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 18px;
}

.user {
  margin: 0px;
  margin-left: 5px;
  font-size: 14px;
}