.header {
    background-color: #2F3136;
    z-index: 999;
    border-bottom: 1px solid;
    border-color: #2B2D32;
    width: 100%;
    top: 0;
    padding: 10px 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    .logout-button {
      float: right;
    }
  
    h2 {
      width: 200px;
      margin: 0;
      padding: 0;
    }
}