.header {
    background-color: #2F3136;
    z-index: 999;
    border-bottom: 1px solid;
    border-color: #2B2D32;
    width: 100%;
    top: 0;
    padding: 10px 0;
    color: white;
  
    h2 {
      margin: 0;
      padding: 0;
    }
  }